.jumbotron {
  padding-top: 5rem;
  background-color: #b3e6f3;
}

#project {
  background-color: #b3e6f3;
}

#contact {
  background-color: #ffffff;
}

footer {
  background-color: #b3e6f3;
}

section {
  padding-top: 5rem;
}
